# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.eslintcache

# Backend
backend/__pycache__/
backend/*.pyc
backend/venv/
backend/.env
backend/.pytest_cache

# OS
.DS_Store
Thumbs.db

# Docker logs
*.log
